# Ignorar node_modules e lockfiles do frontend
frontend/node_modules
frontend/package-lock.json
frontend/yarn.lock

# Ignorar logs, caches, etc.
*.log
__pycache__/
*.pyc

# Ignorar arquivos de ambiente
.env
.env.*
