# livestream-w2-gaules/requirements.txt

fastapi
uvicorn[standard]
openai
requests
deep_translator
ffmpeg-python
python-multipart
pydantic
aiohttp
numpy
matplotlib
openai-whisper
speechify-api        # ← SDK oficial Speechify
